.DS_Store
*.pyc
*.o
*.a
*.xcworkspace
*.gitlocal

#VIM backup files
*~
*~*

#PDF Files
*.pdf


#LaTeX files!
*.log
*.aux
*.backup
*.toc
*.ind
*.idx
*.ilg
*.blg
*.out
*.bbl
*.dvi
*.nav
*.pyg
*.snm
*.lof
*.glg
*.glo
*.gls
*.acn
*.acr
*.alg
*.ist


#OpenOffice lock files
.~lock.*.*#

#Windows!!!!
Thumbs.db

#mongo DB
*.mongo

config.py
